<!DOCTYPE html>
<html lagn="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">
    <div class="w3-main" style="margin-left:300px"> </div>
    <header th:if="${#authentication != null}" id="portfolio">
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>Portfolio</b></h1>
            <div sec:authorize="isAuthenticated()" class="w3-section w3-bottombar w3-padding-16">
                <button class="w3-button w3-black" th:if="${#authentication != null}">
                    <a th:href="@{http://localhost:8080/api/board/boardAll}" style="text-decoration:none">전체 게시글 </a>
                </button>
                <button class="w3-button w3-black" th:if="${#authentication != null}">
                    <a th:href="@{'http://localhost:8080/api/board/create' + ${#authentication.principal.loginId}}" style="text-decoration:none">게시글 작성 </a>
                </button>
                <button class="w3-button w3-black" th:if="${#authentication != null}">
                    <a th:href="@{http://localhost:8080/api/account/create}" style="text-decoration:none">로그인 </a>
                </button>
            </div>
        </div>
    </header>
</div>
</html>