<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <p class="w3-text-grey">account 이름 넣기</p>
        </div>
        <div class="w3-bar-block">
            <a href="#portfolio" style="text-decoration:none" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>내가 작성한 게시글</a>
            <br>
            <a href="#about" style="text-decoration:none" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>마이 페이지</a>
        </div>
        <div class="w3-panel w3-large">
            <i class="fa fa-github w3-hover-opacity"></i>
            <i class="fa fa-notion w3-hover-opacity"></i>
            <i class="fa fa-naver w3-hover-opacity"></i>
        </div>
    </nav>
</div>
</html>