spring:
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: user01
    url: jdbc:mysql://127.0.0.1:8777/newjeans?useSSL=false&allowPublicKeyRetrieval=true
    username: user01
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: none

  servlet:
    multipart:
       max-file-size: 10MB
       max-request-size: 10MB

